<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
   
    

    <title>API Server</title>
</head>
<body>
    <h1>Welcome to this api</h1>

    <button class="btn">
        Data_set
    </button>


    <p class="space"> </p>

    <script src="{{url_for('static', filename='index.js') }}"></script>
</body>
</html>